@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="main-content">
        <div class="left-col">
            <p class="subhead">Lorem ipsum dolor sit amet.</p>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet corporis nihil voluptate error molestias, reprehenderit consequuntur beatae suscipit sint! Suscipit earum necessitatibus eligendi dolorum perferendis quisquam voluptatibus, reiciendis sunt nobis.</p>
            <div class="hero-cta">
                <a class="start-cta" asp-area="" asp-controller="App" asp-action="GetStarted">Get Started</a>
                <a href="#" class="manual-cta"><i class="fa-solid fa-book"></i>see example</a>
            </div>
        </div>
        <img src="~/Content/Images/Main_showcase.jpg">

    </div>
</section>


