@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <div class="main-content">
        <div class="left-col">
            <p class="subhead">Lorem ipsum dolor sit amet.</p>
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet corporis nihil voluptate error molestias, reprehenderit consequuntur beatae suscipit sint! Suscipit earum necessitatibus eligendi dolorum perferendis quisquam voluptatibus, reiciendis sunt nobis.</p>
            <div class="hero-cta">
                <a class="start-cta" asp-area="" asp-controller="App" asp-action="GetStarted">Get Started</a>
                <a href="#manual" class="manual-cta" onclick="showManual()"><i class="fa-solid fa-book"></i>see example</a>
            </div>
        </div>
        <img src="~/Content/Images/Main_showcase.png">
    </div>
    <div class="hide" id="manual">
        <p>
            Fusce molestie mauris at felis pellentesque elementum. Ut metus velit, venenatis quis iaculis sed, iaculis ullamcorper tellus. Sed molestie pharetra leo. Praesent fermentum ante sed dictum consectetur. Ut lorem erat, faucibus vel nunc vitae, iaculis facilisis nulla. Sed ullamcorper aliquam nulla at volutpat. Sed neque odio, elementum ut consectetur finibus, euismod et nibh. Sed at ornare risus. Ut ut nulla volutpat libero imperdiet rhoncus. Proin pretium auctor ligula ut tincidunt.

            Nunc vitae mi tempor justo porttitor auctor. Fusce convallis sollicitudin est, ac posuere lacus ultrices non. Praesent aliquet eget arcu ac aliquam. Sed non odio molestie, blandit ligula ac, feugiat tellus. Aenean nulla lacus, auctor ac arcu eu, semper sollicitudin tellus. Suspendisse posuere nisl elit, consequat pulvinar nisi tincidunt elementum. Aenean et nunc ut ante commodo scelerisque. Morbi nulla dolor, malesuada ac sapien id, commodo hendrerit mi. Fusce fringilla ullamcorper lectus, nec auctor erat tempor elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In condimentum egestas magna in posuere. Vestibulum malesuada ac massa eu molestie.ln ante elit, sollicitudin id nulla ut, consequat fermentum augue. Nunc convallis, quam at laoreet commodo, tortor est rhoncus nisi, et molestie augue nisi eu enim. Sed ac tortor et nibh pretium semper. Nunc vulputate sit amet libero eu tempor. Aliquam nisl mi, cursus ut fermentum et, congue at diam. Suspendisse at mi aliquet, varius mauris fermentum, convallis magna. Mauris tristique hendrerit nibh, ac faucibus turpis mattis ac. Mauris pretium, lorem eget euismod porta, ante turpis consequat magna, id sodales nibh purus sed ex.
        </p>
    </div>
</section>


